<br><br>



  <div class="row">    

   <div class="large-3 pull-9 columns" id="sidebar">
        <h5>Lecture: <%= @lecture.title %></h5>
       <p>Program: <%= @lecture.program %></p>
      <ul class="side-nav">
            
            <%= button_to('Leave Lecture', lectures_path, :class=>:'button black', :method=>:get) %>
            <%= button_to('Edit Profile', edit_user_registration_path, :class=>:'button black', :method=>:get) %>
      
      </ul>

      
        
    </div>

    <div class="large-6 push-3 columns">
      
      


      
         <h4> My Status: </h4>

        <%= button_tag "Got it! \nReady for next topic.", :name => 'got_it_button',:class => 'button', :id=>"gotit_button" %><br><br>
        <%= button_tag "Following you -\n keep on like this.", :name => 'on_track_button', :class => 'button',:id=>"following_button" %><br><br>
        <%= button_tag 'Not getting it yet. Another angle maybe? ', :name => 'not_getting_button', :id=>"not_getting_button",:class =>'button' %><br><br>

    </div>

	  		
</div>

<script>
   $(".button").click(function() {
      $(".button").removeClass('selected')
      $(this).addClass('selected')
      $(".button").css('background-color','black');
      $(".button").css({ opacity: 0.9 })
      var button = $(this);
      var name = event.target.name;
      // var name = button.val(name);
    
      $.ajax({
        type: 'POST',
        url : "/update",
        data : { notice : name },     
        complete : function(data) {
         button.css('background-color','red');
         button.css({ opacity: 1 });
        }
      });

      
    });

</script>
	 