

  <div class="row">    

   <div class="large-3 pull-9 columns" id="sidebar">
        
        <h5>Lecture: <%= @lecture.title %> </h5>


           <%= button_to('Edit Lecture', edit_lecture_path(@lecture), :method => :get, :class => "button black" ) %>
            <%= button_to('Delete Lecture', @lecture, :method => :delete, :confirm => 'Are you sure?', :class => "button black") %>

	        
    
        
    </div>

    <div class="large-9 push-3 columns">
      
       <h3>Lecture: <%= @lecture.title %></h3>
       <div graphcontainter> <img src=<%= googlegraph %> > </div>

       <div>
       <h5> Not Following </h5>     <h5> I'm With You </h5>      <h5> Got It! Move On </h5>
       </div>
      		
    </div>

	  		
</div>
	 