

  <div class="row">    

   <div class="large-3 pull-9 columns" id="sidebar">
        
        <h5>Lecture: <%= @lecture.title %> </h5>
          <%= button_to('Lectures Index', lectures_path, :class=>:'button black', :method=>:get) %>
           <%= button_to('Edit Lecture', edit_lecture_path(@lecture), :method => :get, :class => "button black" ) %>
            <%= button_to('Delete Lecture', @lecture, :method => :delete, :confirm => 'Are you sure?', :class => "button black") %>

	        
    
        
    </div>

    <div class="large-9 push-3 columns">
       <h4>Current Class Sentiment: </h4><br>
       
       <div graphcontainter> <img src=<%= googlegraph(getstatus) %> > </div>

      <ul class="inline-list ">
        <br>
    <li >&nbsp Not Following [<%= getstatus[0] %>]</li>  <li>&nbsp|&nbsp</li>   <li>I'm With You [<%= getstatus[1] %>]</li>  <li>|&nbsp&nbsp</li>   <li>  Got It! Move On [<%= getstatus[2] %>] </li>
       </ul>
      		
    </div>

	  		
</div>
	 