

  <div class="row">    

   <div class="large-3 pull-9 columns" id="sidebar">
        
            <h4> <%= @lecture.title %> </h4>


          <li> <%= button_to('Edit Lecture', edit_lecture_path(@lecture), :method => :get, :class => "button black" ) %></li>
          <li><%= button_to('Delete Lecture', @lecture, :method => :delete, :confirm => 'Are you sure?', :class => "button black") %></li>

	        
    
        
    </div>

    <div class="large-9 push-3 columns">
      
       <h3><%= @lecture.title %></h3>
       <%= puts @lecture.graphprep() %>

       			<h2> Hello! </h2>
      		
    </div>

	  		
</div>
	 