
 <div class="row">    

   <div class="large-3 pull-9 columns" id="sidebar">
        
    </div>

    <div class="large-9 push-3 columns">

<h3>Join Your Classroom Community</h3>

<div >
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div >
  <%= f.label :name%>
  <%= f.text_field :name, :autofocus => true%></div>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true%></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :linkedin %>
  <%= f.text_field :linkedin %></div>

  <div><%= f.submit "Sign up", :class => "button black"%></div>
  <%= f.check_box :instructor, {:checked => params.key?(:instructor), :hidden =>true} %>

 


<% end %>
</div>
<%= render "devise/shared/links" %>

</div>
</div>