<!DOCTYPE html>
<html>

<head>
  <title>Pulse</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="row" id="navbar">
    <div class="large-3 columns" >
      <h1><img alt="Pulse Logo" id="logo" src="/assets/pulse-logo.png"  /></h1>
    </div>
    <div class="large-9 columns" id="navbar">
      <ul class="inline-list right">
        
           <% if current_user %>
              <li class="menu-item">Hello <%= current_user.email %>!</li>
              <li class="menu-item"><%= link_to "Log out", destroy_user_session_path, :method => 'delete' %></li>
            <% else %>
              <li class="menu-item"><%= link_to "Sign up", new_user_registration_path %> </li>  
              <li class="menu-item"><%= link_to "Log in", new_user_session_path %></li>
            <% end %>


         
      </ul>
    </div>
  </div>
  
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<%= yield %>
 <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; GA West.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
</body>
</html>
